@import 'tailwindcss';

@layer base {
    body {
        font-family: "Fira Code", monospace;
    }
}

@keyframes beat {
    0%, 100% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.2);
    }
}

.beat-animation {
    animation: beat 1s infinite;
}